div p {
    color: red;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
}

/* Another attempt to try the descendant combinators below: */
/* div .text {
    color: red;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
} */